<table border=1>
<tr>
  <td> Sign up for CRM-uv  </td> <td>
  <a routerLink="/">
     cancel
  </a>
  </td>
</tr>
<tr>
  <td colspan=2> Email </td>
</tr>

<tr>
 <td colspan=2> <input type="email" [(ngModel)]="myPayloadUser.email" >  </td>
</tr>

<tr>
<td> First Name </td> <td> Last Name  </td>
</tr>

<tr>
<td>  <input type="text" [(ngModel)]="myPayloadUser.firstName" name="firstName" >  </td>
 <td> <input type="text" [(ngModel)]="myPayloadUser.lastName">  </td>
</tr>

<tr>
<td colspan=2> Password </td>
</tr>
<tr colspan=2>
<td>  <input type="password" [(ngModel)]="myPayloadUser.password">  </td>
</tr>


<tr>
 <td colspan=2 >

   Please provide a password of at least 8 chars

</td>
</tr>
<tr>
<td colspan=2>
   <input type="checkbox"> I have read and agree to CRM-univ ...
 </td>
</tr>
<tr>
 <td></td> <td>
  <button (click)="createUser()">
       create
  </button>

 </td>
</tr>
</table>
