<div class="new-post-container">
  <h2>Nueva publicación</h2>

  <form (ngSubmit)="crearPost()" class="post-form">
    <input type="text" [(ngModel)]="post.title" name="title" placeholder="Título" required class="input-post" />
    <textarea [(ngModel)]="post.description" name="description" placeholder="Descripción" required class="input-post"></textarea>

    <input type="file" (change)="onFileSelected($event)" accept="image/*" />

    <div *ngIf="imagenPreview" class="preview-container">
      <img [src]="imagenPreview" alt="Vista previa" class="preview-img" />
    </div>

    <!-- Contenedor de imágenes de reacciones -->
    <div class="reaction-container">
      <img src="assets/reactions/LIKE.png" alt="Like Reaction" class="reaction-img" />
      <img src="assets/reactions/LOVE.png" alt="Love Reaction" class="reaction-img" />
      <img src="assets/reactions/NOJAO.png" alt="No Jao Reaction" class="reaction-img" />
      <img src="assets/reactions/TITE.png" alt="Tite Reaction" class="reaction-img" />
      <img src="assets/reactions/WAOS.png" alt="Waos Reaction" class="reaction-img" />
      <img src="assets/reactions/XDDD.png" alt="XDDD Reaction" class="reaction-img" />
    </div>

    <button type="submit" [disabled]="isUploading">Publicar</button>
  </form>
</div>