<table border=1>
<tr>
  <td> login CRM-uv  </td> <td>
  <a routerLink="/">
     cancel
  </a>
  </td>
</tr>
<tr>
  <td>Email</td>
  <td><input type="email" [(ngModel)]="email" name="email" required></td>
</tr>
<tr>
  <td>Contraseña</td>
  <td><input type="password" [(ngModel)]="password" name="password" required></td>
</tr>
<tr>
  <td></td>
  <td>
    <a routerLink="/forgot-password">Forgot Password?</a>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <button (click)="callLogin()">Log in</button>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    ¿Nuevo?
    <a routerLink="/newuser">Crear cuenta</a>
  </td>
</tr>

<tr>
<td> </td> <td>
         <button (click)="callLogin()"> log in </button>
 </td>
</tr>
<tr>
 <td></td> <td> new?

  <a routerLink="/newuser">
    create account
  </a>
 </td>
</tr>
</table>
