<div class="tweet-card">
  <h3>{{ post.title }}</h3>
  <p>{{ post.description }}</p>

  <div class="image-container">
    <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Imagen del post" class="tweet-image" />
  </div>

 <p class="posted-by">Publicado por: {{ post.user?.username }}</p>

  <div class="comment-section">
    <h4>Comentarios</h4>
    <div *ngFor="let comment of post.comments" class="comment-bubble">
      {{ comment.content }}
    </div>
    <textarea [(ngModel)]="newComment" class="comment-input" placeholder="Escribe un comentario..."></textarea>
    <button (click)="enviarComentario()">Enviar</button>
  </div>

 <div class="reactions-bar">
  <div class="reaction-item"
         *ngFor="let tipo of ['LIKE', 'LOVE', 'NOJAO', 'WAO', 'TITE', 'XDDD']"
       [class.clicked]="userReaction === tipo">
    <img [src]="'assets/reactions/' + tipo + '.png'" [alt]="tipo"
         class="reaction-icon" (click)="reaccionar(post.id, tipo)" />
    <span>{{ reactionCounts[tipo] || 0 }}</span>
  </div>
</div>

 
</div>
