<header class="landing-header">
  <div class="logo">The climate</div>
  <a routerLink="/login" class="login-button">Entrar</a>
</header>

<!-- Contenido principal -->
<div class="landing-container">
  <div class="landing-content">
    <h1 class="title">¡Bienvenido a la red que te enseña cómo es el clima!</h1>
    <p class="subtitle">Encuentra las mejores vistas del bello clima y mantente actualizado.</p>
  </div>
  <div class="image-container">
    <img src="https://services.meteored.com/img/article/menos-calor-y-mas-lluvias-esta-primavera-2025-en-mexico-el-fenomeno-de-la-nina-regulara-el-clima-trayendo-beneficios-1738873845851_512.jpeg" 
         alt="Vista climática" class="weather-image" />
  </div>
</div>
